@import (reference) "_mixins-wln.less";
//@import (inline) "units/_iconfont.less";
@import "units/_reset.less";
@import "units/_layout.less";
//@import "units/_loading.less";
//@import "units/_btn.less";
//@import "units/_form.less";
//@import "units/_panel.less";
//@import "units/_tab.less";
//@import "units/_table.less";
//@import "units/_crumbs.less";
//@import "units/_msg.less";
//@import "units/_paginator.less";
//@import "units/_radio.less";
//@import "units/_load-more.less";
//@import "units/_header-analy.less";
//@import "units/_footer.less";
//@import "units/_tooltip.less";
//@import "units/_alertinfo.less";
//@import "units/_messages.less";

//面包屑
.page-crumbs{
  padding:20px;
  color:#999;
  font-size:14px;
  border-bottom:1px solid #ddd;
}

//天星动态
.dynamic-page-wrap{
  padding-top:20px;
}
.dynamic-page{
  border-top:2px solid @primary;
  .page-body{
    float: left;
    width:900px;
  }
  .right-nav{
    width:240px;
    float: right;
    .rn-item-title{
      font-size:24px;
      border-bottom:2px solid @primary;
    }
  }
  .rn-ewm{
    text-align: center;
  }
}
